.footer {
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	color: #afafaf;
	background-color: #000000;
	/*
    border: 1px solid white;
	box-shadow: 0px 0px 5px black;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	user-select: none;
	*/
}

.copyright {
    width: calc(100% - 20px);
    margin: auto;
}