.calendar-section {
    padding-top: 0px;
}

.detail-content-top {
	width: 960px;
	margin: 0px 10px 80px 10px;
	padding: 0px 10px 0px 10px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	position: relative;
	color: #ffffff;
	z-index: 10;
}

.info-subtitle {
	position: absolute;
	display: inline-block;
	font-weight: bold;
	color: #ffffff;
	top: 50%;
	text-decoration-line: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}

.info-subtitle:first-child {
	left: 0;
}

.info-subtitle:last-child {
	right: 0;
}

.info-title {
	display: inline-block;
	margin: 25px;
	font-weight: bold;
	color: #ffffff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	transform: translate(0, 9.5px);
	cursor: pointer;
}

.logo1 {
	opacity: 1;
	position: relative;
	top: auto;
	font-size: 50px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.detail-top-background {
	height: 100%;
	width: 100%;
	position: absolute;
	filter: blur(100px);
}

.detail-top-background img {
	height: 250px;
	width: 100%;
	transform: scale(1.25);
}

.calendar-contents-section {
	margin-left: 0;
}

.calendar-content-section .year {
	vertical-align: middle;
	/* overflow-x: hidden; */
}

.week::before {
	content: ""!important;
}

.calendar-contents {
	background-color: #222222;
	width: auto;
	min-width: 140px;
	min-height: 190px;
	margin: 5px;
}

.sunday:active {
    overflow: visible;
    transform: scale(1.125);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    color: #dddddd;
    z-index: 2;
}

.sunday:active .calendar-contents {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    background-color: #DB4455;
}

.monday:active, .tuesday:active, .wednesday:active, .thursday:active, .friday:active {
    overflow: visible;
    transform: scale(1.125);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    color: #161616;
    z-index: 2;
}

.monday:active .calendar-contents, .tuesday:active .calendar-contents, .wednesday:active .calendar-contents, .thursday:active .calendar-contents, .friday:active .calendar-contents, .unknownday:active .calendar-contents {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    background-color: #dddddd;
}

.unknownday:active {
    overflow: visible;
    transform: scale(1.03125);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    color: #161616;
    z-index: 2;
}

.saturday:active {
    overflow: visible;
    transform: scale(1.125);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    color: #dddddd;
    z-index: 2;
}

.saturday:active .calendar-contents {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    background-color: #4B89DC;
}

.sunday, .monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .emptyday {
	width: auto;
	height: auto;
	max-width: 150px;
	opacity: 1;
}

.unknownday {
	width: auto;
	height: auto;
	max-width: 1050px;
	opacity: 1;
}

.january, .february, .march, .april, .may, .june, .july, .august, .september, .october, .november, .december {
	display: table-cell;
	position: sticky;
}

.gamelist {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

.gamelist img {
    height: 100%;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.gamelist::-webkit-scrollbar {
	display: none;
}

.gamelist .calendar-img-game {
	border-radius: 5px;
}

.gamelist-game {
	margin-left: 15px;
	margin-right: 15px;
    position: relative;
}

.game-thumbnail {
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.calendar-img-game:hover > .game-thumbnail {
	filter: blur(5px) brightness(0.75);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.game-info {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.calendar-img-game:hover > .game-info {
	visibility: visible;
	opacity: 1;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.game-title {
	width: 100%;
	pointer-events: none;
}

.game-title img {
    max-width: 75px;
    max-height: 50px;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 90px;
}

.game-platform {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 60%;
    white-space: normal;
    width: 85px;
    text-align: center;
    transform: translate(-50%, -40%);
}

.game-platform img {
    max-width: 20px;
    max-height: 20px;
    width: auto;
    margin: 2.5px;
    vertical-align: middle;
    top: 0;
    transform: translate(0px, 0px);
    left: 0;
}

.year > .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
	transform: translate(0%, -50%);
    height: 50px;
    width: 50px;
    font-size: 0;
	border: 0;
	cursor: pointer;
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 50%;
	text-align: center;
	vertical-align: bottom;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.week .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
	transform: translate(0%, -50%);
    height: 25px;
    width: 25px;
    font-size: 0;
	border: 0;
	cursor: pointer;
	opacity: 0;
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	border-radius: 50%;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.gamelist-game:hover > .slick-arrow {
	opacity: 0.8;
}

.slick-disabled,
.slick-disabled:hover {
	display: none!important;
}

.year > .slick-prev {
    left: -10%;
	position: absolute;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.week .slick-prev {
    left: -10px;
	position: absolute;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.slick-prev:hover {
	background-color: #aaaaaa;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.year > .slick-next {
    right: -10%;
	position: absolute;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.week .slick-next {
    right: -10px;
	position: absolute;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.slick-next:hover {
	background-color: #aaaaaa;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.slick-prev::before {
    content: "❮";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.slick-next::before {
    content: "❯";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.details-bottom-content-title {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.details-bottom-content-title::after {
    content: "오류를 발견하셨나요?";
}

.details-bottom-content-text {
    color: rgb(255, 255, 255, 0.6);
    font-weight: 700;
    margin: 10px;
}

.details-bottom-content-text::after {
    content: "잘못된 정보나, 추가되었으면 하는 내용 등\A수정이 필요한 부분이 있으신 경우 주저하지 말고 제보해 주세요!";
    white-space: pre-wrap;
}

.details-bottom-content-button {
    margin-bottom: 100px;
}

.details-bottom-content-button .external-link a {
    width: auto;
    height: auto;
    text-decoration-line: none;
    font-weight: 900;
    font-family: "NanumGothic";
    color: #161616;
    background-color: #dddddd;
}

.external-link {
    display: inline-block;
    margin: 5px;
}

.external-link-content {
    padding: 10px;
    border-radius: 5px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	transition:all 0.5s;
    opacity: 1;
}

.external-link-content:hover {
    opacity: 0.6;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	transition:all 0.5s;
}

.month.slick-slide {
	opacity: 0.25;
	pointer-events: none;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.month.slick-slide.slick-active {
	opacity: 1;
	pointer-events: all;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.month.slick-slide > .sat,
.month.slick-slide > .mon,
.month.slick-slide > .fri,
.month.slick-slide > .thu,
.month.slick-slide > .wed,
.month.slick-slide > .tue,
.month.slick-slide > .sun {
	opacity: 0;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.month.slick-slide.slick-active > .sat,
.month.slick-slide.slick-active > .mon,
.month.slick-slide.slick-active > .fri,
.month.slick-slide.slick-active > .thu,
.month.slick-slide.slick-active > .wed,
.month.slick-slide.slick-active > .tue,
.month.slick-slide.slick-active > .sun {
	opacity: 1;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}