.language-select {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 101;
}

.language-select div {
    cursor: pointer;
    width: 31px;
    overflow: hidden;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.language-select div > img {
    filter: brightness(0);
}

.language-select p {
    margin: 0;
    width: 80px;
    padding: 5px 0px 5px 20px;
}

.language-select img {
    border-radius: 50%;
    width: 16px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul, ol, li {
    list-style:none;
    margin:0;
    padding:0;
}

ul.myMenu > li {
    display:inline-block;
    background:#ddd;
    border:1px solid #ddd;
    text-align:center;
    position:relative;
    border-radius: 5px;
    font-size: 12px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li:hover {
    background:#fff;
    border-radius: 5px 5px 0px 0px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li:hover div {
    width: 100px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li:hover img {
    left: 10%;
    transform: translate(0%, -50%);
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li ul.submenu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position:absolute;
    top:26px;
    left: -1px;
    cursor: pointer;
    overflow: hidden;
    width: 33px;
    height: auto;
    max-height: 0px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li:hover ul.submenu {
    width:102px;
    height: auto;
    max-height: 500px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

ul.myMenu > li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

ul.myMenu > li ul.submenu > li {
    display:inline-block;
    width:80px;
    padding: 5px 0px 5px 20px;
    background:#ddd;
    border:1px solid transparent;
    text-align:center;
    position: relative;
}

ul.myMenu > li ul.submenu > li:last-child {
    border-radius: 0px 0px 5px 5px;
}

ul.myMenu > li ul.submenu > li.not-support {
    display:inline-block;
    width:80px;
    padding: 5px 0px 5px 20px;
    color: #999;
    background:#444;
    border:1px solid #444;
    text-align:center;
    position: relative;
    cursor: not-allowed;
}
  
ul.myMenu > li ul.submenu > li.not-support:hover {
    background:#444;
}
  
.not-support img {
    filter: grayscale(1);
}
  
ul.myMenu > li ul.submenu > li:hover {
    background:#fff;
}

.searchbox {
    width: 100%;
    margin: 0px 0px 25px;
    position: relative;
    left: 0;
    z-index: 100;
    background-color: #222222;
}

.header {
	overflow: hidden;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 20px 1px #000000;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

.header h1 {
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    font-size: 30px;
    display: table;
    cursor: pointer;
}

#value {
    border: none;
    background: #2f2f2f;
    padding: 10px;
    font-size: 14px;
    width: 805px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#value:focus {
	outline: none;
}

.history-container {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1000px;
}

.item {
    position: relative;
    border: solid 10px transparent;
    border-radius: 20px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    max-width: 819px;
    height: 64px;
    vertical-align: top;
    display: inline-block;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
}
  
.item:hover {
    height: 245px;
    transform: scale(1.0125);
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item.none {
    display: none!important;
}

.item-content {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translate(0px, -50%);
}

.item-background {
    /* height: 175px; */
    width: 100%;
    position: absolute;
    float: left;
    top: 50%;
    transform: translate(0%, -50%) scale(1.125);
    filter: blur(10px) brightness(0.5);
    z-index: -1;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item-background img {
    height: auto;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.item:hover .item-background {
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.watched-date {
    display: inline-block;
    width: 110px;
    margin: 5px;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

.thumbnail {
    overflow: hidden;
    max-height: 225px;
    max-width: 0px;
    border-radius: 5px;
    display: inline-block;
    margin: 0px;
    position: relative;
    vertical-align: middle;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item:hover .thumbnail {
    max-width: 150px;
    margin: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 60%);
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.thumbnail:hover > img {
    filter: blur(5px) brightness(75%);
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.thumbnail > img {
    height: 225px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0%);
    z-index: -1;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.logo img {
    max-width: 100px;
    max-height: 75px;
    filter: drop-shadow(0px 0px 2.5px #000000) drop-shadow(0px 0px 10px #ffffff);
}

.thumbnail:hover .logo {
    opacity: 1;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.text-content {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
    position: relative;
    text-align: left;
    max-width: 600px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.type,
.year,
.season,
.episode {
    background-color: #161616;
    color: #ffffff;
    display: none;
    padding: 0px 5px;
    margin: 0px 2.5px 0px 2.5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    height: auto;
    float: none;
    text-align: unset;
    font-family: auto;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.type.movie::after {
    content: 'MOVIE';
}

.season.movie,
.episode.movie,
.watched-episode.movie {
    display: none!important;
}

.type.tva::after {
    content: 'TVA';
}

.season.tva::before {
    content: 'SEASON ';
}

.episode.tva::before {
    content: 'EPISODE ';
}

.watched-episode.tva::before {
    content: 'EP.';
}

.watched-episode {
    background-color: #ffffff;
    color: #161616;
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 2.5px 0px 2.5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    height: auto;
    float: none;
    right: 10px;
    top: 50%;
    transform: translate(0px, -50%);
    position: fixed;
    text-align: unset;
    font-family: auto;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item:hover .type,
.item:hover .year,
.item:hover .season,
.item:hover .episode {
    display: inline-block;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item:hover .watched-episode {
    right: unset;
    top: unset;
    transform: unset;
    position: unset;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.title {
    margin: 0px;
    font-size: 30px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    max-width: 600px;
    display: table-cell;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.subtitle {
    margin: 0px;
    font-size: 16px;
    color: #dddddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px;
    display: none;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item:hover .subtitle {
    display: table-caption;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.item:hover .text-content,
.item:hover .title,
.item:hover .subtitle {
    max-width: 490px;
    -webkit-transition:all 0.25s;
    -moz-transition:all 0.25s;
    -o-transition:all 0.25s;
    -ms-transition:all 0.25s;
    transition:all 0.25s;
}

.ended {
    position: relative;
    height: 100%;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
    margin-top: 100px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.ended::after,
.ended::before {
    content: "";
    width: 100%;
    max-width: 15%;
    height: 2.5px;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    border-radius: 2.5px;
    margin: 0px 2.5%;
}

@media(max-width:1077px) {
    .ended::after,
    .ended::before {
        content: unset;
    }
}

@media(max-width:1000px) {
    .history-container {
        width: 100%;
    }
}

@media(max-width:866px) {
    #value {
        width: calc(100% - 20px);
    }
}

@media(max-width:839px) {
    .item {
        width: calc(100% - 30px);
    }
    .title {
        max-width: calc(100% - 30px);
        display: inline-block;
    }
    .text-content {
        max-width: calc(100% - 170px);
        width: 100%;
    }
}

@media(max-width:829px) {
    .item:hover .text-content {
        max-width: calc(100% - 320px);
        width: 100%;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
    .item:hover .title {
        width: 100%;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
    .item:hover .subtitle {
        width: 100%;
        display: inline-block;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
}

@media(max-width:600px) {
    .item:hover .thumbnail {
        max-width: 0px;
        margin: 0px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
    .item:hover .watched-date {
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 15px;
    }
    .item:hover .text-content {
        text-align: center;
    }
    .item:hover .text-content {
        max-width: calc(100% - 20px);
        width: 100%;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
    .item:hover .text-content,
    .item:hover .title,
    .item:hover .subtitle {
        max-width: calc(100% - 20px);
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
}

@media(max-width:480px) {
    .item-background {
        height: 100%;
        /* width: 100%; */
        float: unset;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
    .item-background img {
        height: 100%;
        width: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }
}