.en {
  font-family: 'Noto Sans', sans-serif;
}

.ja {
  font-family: 'Noto Sans JP', sans-serif;
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

.sc {
  font-family: 'Noto Sans SC', sans-serif;
}

.tc {
  font-family: 'Noto Sans TC', sans-serif;
}

/* 신장 무게 비공개 */

.info-box:nth-child(4) > .info-answer,
.info-box:nth-child(5) > .info-answer {
  font-size: 0;
}

.info-box:nth-child(4) > .info-answer::after,
.info-box:nth-child(5) > .info-answer::after {
  content: '-';
  font-size: 16px;
}

.language-select {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}
.language-select div {
  cursor: pointer;
  width: 31px;
  overflow: hidden;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
.language-select div > img {
  filter: brightness(0);
}
.language-select p {
  margin: 0;
  width: 80px;
  padding: 5px 0px 5px 20px;
}
.language-select img {
  border-radius: 50%;
  width: 16px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul, ol, li {
  list-style:none;
  margin:0;
  padding:0;
}
ul.myMenu > li {
  display:inline-block;
  background:#ddd;
  border:1px solid #ddd;
  text-align:center;
  position:relative;
  border-radius: 5px;
  font-size: 12px;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li:hover {
  background:#fff;
  border-radius: 5px 5px 0px 0px;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li:hover div {
  width: 100px;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li:hover img {
  left: 10%;
  transform: translate(0%, -50%);
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li ul.submenu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position:absolute;
  top:26px;
  left: -1px;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  width: 33px;
  height: 0px;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li:hover ul.submenu {
  width:102px;
  height: 319px;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}
ul.myMenu > li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
ul.myMenu > li ul.submenu > li {
  display:inline-block;
  width:80px;
  padding: 5px 0px 5px 20px;
  background:#ddd;
  border:1px solid transparent;
  text-align:center;
  position: relative;
}
ul.myMenu > li ul.submenu > li.not-support {
  display:inline-block;
  width:80px;
  padding: 5px 0px 5px 20px;
  color: #999;
  background:#444;
  border:1px solid #444;
  text-align:center;
  position: relative;
  cursor: not-allowed;
}

ul.myMenu > li ul.submenu > li.not-support:hover {
  background:#444;
}

.not-support img {
  filter: grayscale(1);
}

ul.myMenu > li ul.submenu > li:hover {
  background:#fff;
}

.profile-background {
  background-image: url("/image/hungbok-background.png");
  background-repeat: repeat;
  height: 175px;
  width: 100vw;
  overflow: hidden;
  float: left;
  top: 0;
  filter: blur(2.5px) brightness(0.75);
  z-index: -1;
  position: absolute;
}

.profile-top {
  margin: 22.5px 0px;
}

.cls-1,
.cls-7 {
  fill:#e6c300;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6 {
  fill:#2f2f2f;
}

.hungbok-profile-logo {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px 5px;
}

#hungbok-profile-logo {
  width: 100px;
  vertical-align: middle;
}

.hungbok-profile-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 5px;
}

.profile-realname {
  margin-top: 5px;
  color: #ffffff;
}

.profile-name {
  color: white;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  font-family: 'Do Hyeon', 'M PLUS 1', 'Noto Sans SC', 'Noto Sans', sans-serif;
}

.realname {
  color: #dddddd;
  display: inline-block;
  font-weight: 700;
  margin: 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.realname:hover {
  color: #ffffff;
  background-color: rgba(47, 47, 47, 0.5);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.profile-info,
.links-title {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0px 5px;
  border-bottom: 5px solid #ffffff;
  color: white;
  display: inline-block!important;
  margin: auto;
  text-transform: capitalize;
}

.info-box {
  color: #dddddd;
  background-color: #2f2f2f;
  display: inline-block;
  width: 175px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.info-box.v2 {
  width: 374px;
}

.info-box:hover {
  background-color: #444444;
  transform: scale(1.0125);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.info-question {
  font-weight: bold;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  text-transform: capitalize;
  line-height: 18px;
}

.info-answer {
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-country {
  border-radius: 5px;
  vertical-align: middle;
}

.e6c300::before {
  content: " ";
  background-color: #e6c300;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.link-box {
  color: #dddddd;
  background-color: #2f2f2f;
  display: inline-block;
  width: 175px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  z-index: 10;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-box:hover {
  background-color: #444444;
  transform: translate(0px, -2.5px);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-box:hover .link-name,
.link-box:hover .link-id {
  opacity: 1;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-icon {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  filter: opacity(0.5) drop-shadow(0 0 0 white) grayscale(1);
}

.link-box:hover .link-icon {
  opacity: 0.5;
  filter: blur(5px);
  transform: rotate(0deg) translate(-50%, -50%) scale(10);
  animation: rotate_image 5s linear infinite;
  transform-origin: center;
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg) translate(-50%, -50%) scale(10);
  }
}

.link-icon img {
  position: relative;
  width: 100%;
  max-height: 50px;
  min-height: 5px;
  max-width: 50px;
  min-width: 5px;
}

.link-icon.v2 img {
  position: relative;
  width: 100%;
  max-height: 50px;
  min-height: 5px;
  max-width: 100px;
  min-width: 5px;
}

.link-name {
  font-weight: bold;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  opacity: 0;
  line-height: 18px;
  z-index: 5;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-name p {
  padding: 0;
  margin: 0;
  font-size: small;
  filter: brightness(75%);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.link-newtab {
  visibility: hidden;
  display: inline-block;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-newtab img {
  width: 15px;
  vertical-align: middle;
  margin-left: 5px;
}

.link-box:hover > .link-name > .link-newtab {
  visibility: visible;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.link-id {
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 4;
  transform: translate(-50%, -50%);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.empty {
  pointer-events: none;
  cursor: not-allowed;
  filter: brightness(60%);
  z-index: -1;
}

.empty img {
  visibility: hidden;
}

.hidden {
  color: transparent;
  pointer-events: none;
  cursor: not-allowed;
  filter: brightness(60%);
  z-index: -1;
}

.guideline {
  color: #444444;
  margin: 25px 25px 0px;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

.copied {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 8px 14px;
  line-height: 1.5;
  max-width: 60%;
  border-radius: 4px;
  z-index: 99999;
  border-radius: 10px !important;
  padding: 8px 12px !important;
  font-size: 16px !important;
  line-height: 24px;
  background-color: rgba(33, 33, 33, 0.9);
  color: #cecfd1;
  word-break: break-word;
  pointer-events: none;
}

.hide {
  display: none;
}

/* */

.favorite-list {
  vertical-align: top;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.item {
  margin: 10px;
  width: 175px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  display: inline-block;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.item:hover {
  transform: scale(1.025);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.thumbnail-logo {
  max-height: 50px;
  min-height: 5px;
  max-width: 100px;
  min-width: 5px;
  position: absolute;
  top: 30%;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%)!important;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.item:hover .thumbnail-logo {
  opacity: 1;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.thumbnail-background {
  z-index: 0;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.item:hover .thumbnail-background {
  opacity: 0.75;
  filter: blur(5px);
  transform: translate(-50%, -50%) scale(1.0125);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.item:hover .titlename {
  background-color: rgb(0 0 0 / 50%);
  transform: translate(0, 0%);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.titlename {
  color: white;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  background-color: rgb(0 0 0 / 50%);
  bottom: 0;
  transform: translate(0, 100%);
  font-size: 10px;
  z-index: 2;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
}

/*

.favorite-list {
  vertical-align: top;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.item {
  margin: 10px;
  width: 175px;
  height: 262.5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgb(0 0 0 / 60%);
  border-radius: 5px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
  display: inline-block;
  background-image: url(/image/error-vertical.svg);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.item:hover {
  transform: scale(1.025);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.thumbnail-logo {
  display: none;
  max-height: 200px;
  max-width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%)!important;
}

.item .thumbnail-background {
  z-index: 0;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.item:hover .titlename {
  background-color: rgb(0 0 0 / 50%);
  transform: translate(0, 0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.titlename {
  color: white;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  padding: 10px;
  word-break: keep-all;
  background-color: rgb(0 0 0 / 50%);
  bottom: 0;
  transform: translate(0, 100%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

*/

.favorite-slick {
  position: relative;
}

.favorite-list {
  display: inline-block;
}

.favorite-slick > .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0%, -50%);
  height: 50px;
  width: 50px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  opacity: 0;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
  vertical-align: bottom;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.slick-disabled,
.slick-disabled:hover {
  display: none!important;
}

.favorite-slick > .slick-prev {
  left: -10%;
  position: absolute;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.favorite-slick > .slick-next {
  right: -10%;
  position: absolute;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.favorite-slick > .slick-prev::before {
  content: "❮";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.favorite-slick > .slick-next::before {
  content: "❯";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.favorite-list.slick-slide {
  opacity: 0.25;
  pointer-events: none;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.favorite-list.slick-slide.slick-active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.draggable {
	overflow: unset!important;
}

.profile-middle:hover > .slick-slider > .slick-arrow {
  opacity: 0.8;
  z-index: 20;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.slick-slider {
  position: relative;
  -webkit-transition:all 0.25s;
  -moz-transition:all 0.25s;
  -o-transition:all 0.25s;
  -ms-transition:all 0.25s;
  transition:all 0.25s;
}

.slick-slider::after {
  right: -5000px;
  width: 4950px;
  background-image: linear-gradient(to right, transparent 0%, #161616 2.5%);
}

.slick-slider::before {
  left: -5000px;
  width: 4950px;
  background-image: linear-gradient(to left, transparent 0%, #161616 2.5%);
}

.slick-slider::before,
.slick-slider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

@media(min-width:1001px) {
  .draggable {
    height: 125px!important;
  }
}

@media(max-width:1000px) {
  .profile-section {
    width: 90%!important;
    display: inline-block;
  }
  .empty,
  .hidden {
    display: none!important;
  }
  .draggable {
    overflow: hidden!important;
    height: 250px!important;
  }
  .slick-track {
    width: 90vw!important;
  }
}

@media(max-width:880px) {
  .draggable {
    height: 250px!important;
  }
}

@media(max-width:659px) {
  .draggable {
    height: 375px!important;
  }
}

@media(max-width:525px) {
  .realname {
    display: block!important;
  }
  .profile-background {
    height: 260px!important;
  }
}

@media(max-width:451px) {
  .profile-background {
    height: 360px!important;
  }
}

@media(max-width:437px) {
  .info-box.v2 {
    width: 175px!important;
  }
  .draggable {
    height: 625px!important;
  }
}

@media(max-width:320px) {
  .profile-name {
    font-size: 50px!important;
  }
}