
    .language-select {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100;
    }
    .language-select div {
      cursor: pointer;
      width: 31px;
      overflow: hidden;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    .language-select div > img {
      filter: brightness(0);
    }
    .language-select p {
      margin: 0;
      width: 80px;
      padding: 5px 0px 5px 20px;
    }
    .language-select img {
    border-radius: 50%;
    width: 16px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul, ol, li {
      list-style:none;
      margin:0;
      padding:0;
    }
    ul.myMenu > li { 
      display:inline-block; 
      background:#ddd; 
      border:1px solid #ddd; 
      text-align:center; 
      position:relative; 
      border-radius: 5px;
      font-size: 12px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li:hover { 
      background:#fff; 
    border-radius: 5px 5px 0px 0px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li:hover div { 
      width: 100px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li:hover img { 
    left: 10%;
    transform: translate(0%, -50%);
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li ul.submenu { 
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position:absolute; 
      top:26px; 
      left: -1px; 
      cursor: pointer;
      border-radius: 0px 0px 5px 5px;
      overflow: hidden;
      width: 33px;
      height: 0px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li:hover ul.submenu { 
      width:102px; 
      height: 319px;
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
    }
    ul.myMenu > li:hover ul.submenu { 
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    ul.myMenu > li ul.submenu > li { 
      display:inline-block; 
      width:80px; 
    padding: 5px 0px 5px 20px;
      background:#ddd; 
      border:1px solid transparent; 
      text-align:center; 
      position: relative;
    }
    ul.myMenu > li ul.submenu > li.not-support { 
      display:inline-block; 
      width:80px; 
    padding: 5px 0px 5px 20px;
    color: #999;
      background:#444; 
      border:1px solid #444; 
      text-align:center; 
      position: relative;
      cursor: not-allowed;
    }
    ul.myMenu > li ul.submenu > li.not-support:hover { 
      background:#444; 
      }
      .not-support img {
        filter: grayscale(1);
      }
    ul.myMenu > li ul.submenu > li:hover { 
      background:#fff; 
      }

      .profile-top {
          position: relative;
          display: block;
          margin-top: 50px;
          text-align: left;
      }

      .profile-middle {
          position: relative;
          display: inline-block;
          text-align: center;
      }
      
      #hungbok-profile-logo {
          width: 100px;
          display: inline-block;
          overflow: hidden;
          border-radius: 50%;
        cursor: pointer;
          margin-left: 174px;
          vertical-align: middle;
      }

      .profile-name {
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: 65px;
        margin: 0 0 0 25px;
        padding: 0;
        line-height: 80px;
        vertical-align: top;
      }

      .profile-top div {
        display: inline-block;
        vertical-align: middle;
      }

      .profile-realname {
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 0 25px;
        padding: 0;
        vertical-align: middle;
      }
      
      .profile-title {
          color: white;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 0px 10px;
      }
      
      .profile-info {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        padding: 10px 0px;
        border-bottom: 2.5px solid #ffffff;
        color: white;
        display: block!important;
        width: 690px;
        margin: auto;
        margin-top: 15px;
      }
      
      .profile-table {
        color: #ffffff;
        margin-top: 20px;
        position: relative;
        left: 50%;
        display: inline-block;
        transform: translate(-50%, 0);
      }
      
      .mobile-profile-table {
        display: none;
      }
      
      .profile-table td {
        width: 120px;
        vertical-align: middle;
        white-space: nowrap;
      }
      
      .profile-table-left {
        text-align: left;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 5px;
        padding-bottom: 10px;
        filter: brightness(0.75);
      }
      
      .profile-table-right {
        padding-right: 15px;
        padding-left: 5px;
        font-size: 12px;
        padding-bottom: 10px;
        vertical-align: middle;
        font-weight: bold;
      }
      
      .profile-table-right span {
        vertical-align: middle;
      }
      
      .profile-table-right a {
        color: #ffffff;
      }
      
      .profile-country {
        border-radius: 50%;
        vertical-align: middle;
      }
      
      .profile-title::-webkit-scrollbar {
          width: 8px;
          height: 8px;
      }
      
      .profile-title::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: rgb(102, 102, 102, 0.8);
          -webkit-background-clip: content-box;
          background-clip: content-box;
          border: 2px solid transparent;
      }
      
      .profile-title::-webkit-scrollbar-thumb:hover {
          border-radius: 4px;
          background-color: rgb(102, 102, 102, 0.4);
          -webkit-background-clip: content-box;
          background-clip: content-box;
      }
      
      .profile-title::-webkit-scrollbar-track {
          background-color: #161616;
      }
      
      .profile-title a {
        position: relative;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        width: 50px;
        height: 50px;
        text-decoration-line: none;
        vertical-align: middle;
        cursor: pointer;
        filter: brightness(0.75);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }
      
      .profile-title a:hover {
        filter: brightness(1);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }
      
      .profile-title hr {
        width: auto;
        margin-left: 10px;
      }
      
      .profile-subtitle {
          position: relative;
          color: white;
          font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        width: 250px;
        padding: 0;
          background: transparent;
          border: 0;
        cursor: default;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
        user-select: none;
      }
      
      .profile-subtitle:focus {
        border: 0;
        outline: 0;
      }
      
      .profile-title img {
          max-height: 50px;
          max-width: 50px;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          vertical-align: middle;
          filter: opacity(0.5) drop-shadow(0 0 0 #ffffff) brightness(500%);
      }
      
      .profile-title > div {
        position: relative;
      }
      
      .cls-1,
      .cls-7 {
          fill:#e6c300;
      }
      
      .cls-2,
      .cls-3,
      .cls-4,
      .cls-5,
      .cls-6 {
          fill:#2f2f2f;
      }
      
      .links-title {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
          margin-left: 0px;
          margin-right: 0px;
        padding: 10px 0px;
        border-bottom: 2.5px solid #ffffff;
      }
      
      .tooltip {
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        z-index: 555;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        white-space: nowrap;
        background-color: #222;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px 15px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translate(-50%, 0%);
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #222 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
      
      .tooltip button {
        background-color: #222222;
        color: #ffffff;
        border: 0;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        filter: brightness(0.75);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }
      
      .tooltip button:hover {
        filter: brightness(1);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }

      .hide-tooltip {
        display: none!important;
      }
      
      .e6c300::before {
        content: " ";
        background-color: #e6c300;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
      }
      
      @media(max-width:1000px) {
        .favorite-game,
        .favorite-movie,
        .favorite-anime,
        .favorite-drama {
          width: 100%!important;
        }

        .profile-section {
          width: 100%!important;
        }
        
        .profile-table-left {
          min-width: auto!important;
          max-width: 50%!important;
          width: 50%!important;
        }
        
        .profile-table-right {
          min-width: auto!important;
          max-width: 50%!important;
          width: 50%!important;
        }
      
        .profile-top {
          text-align: center;
        }
      
        #hungbok-profile-logo {
          margin-left: 0px;
        }
      
        .profile-table {
          display: none;
        }
      
        .mobile-profile-table {
          display: table;
          color: #ffffff;
          margin-top: 25px;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
          white-space: nowrap;
        }
      
        .profile-title {
          margin-left: 0px;
          overflow: hidden;
        }
      
        .tooltip .tooltiptext {
          transform: translate(-100%, 0);
          left: 100%;
          border-radius: 6px 6px 0px 6px;
        }

        .tooltip .tooltiptext::after {
          left: auto;
          right: 0;

        }
      }
      
      @media(max-width:490px) {
        .profile-name {
          margin: 0;
        }
        .profile-realname {
          margin: 0;
        }
        .profile-background {
          height: 275px;
        }
        .profile-top div {
          display: block;
        }
      }

      .favorite-game,
      .favorite-movie,
      .favorite-anime,
      .favorite-drama {
        width: 690px;
        margin: 0px 0px 25px;
      }

      .favorite-game:hover img,
      .favorite-movie:hover img,
      .favorite-anime:hover img,
      .favorite-drama:hover img {
        opacity: 0.5;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }
      .favorite-img {
        border-radius: 5px;
        overflow: hidden;
        width: 130px;
        height: 195px;
      }
      
      .favorite-title {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        padding: 10px 0px;
        border-bottom: 2.5px solid #ffffff;
        color: white;
      }

      .favorite-top img {
        width: auto;
        height: 195px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }

      .favorite-top a:hover img {
        opacity: 1;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }

      .favorite-top a {
        display: inline-block;
        text-decoration-line: none;
        vertical-align: top;
        margin: 10px 0px;
        width: 130px;
        position: relative;
        overflow: hidden;
      }
      /*
      .favorite-top a::before {
        color: #ffffff;
      }

      .favorite-top a:nth-child(1)::before {
        content: "1st";
        color: gold;
      }

      .favorite-top a:nth-child(2)::before {
        content: "2nd";
        color: silver;
      }

      .favorite-top a:nth-child(3)::before {
        content: "3rd";
        color: coral;
      }

      .favorite-top a:nth-child(4)::before {
        content: "4th";
      }

      .favorite-top a:nth-child(5)::before {
        content: "5th";
      }

      .favorite-top a:nth-child(6)::before {
        content: "6th";
      }

      .favorite-top a:nth-child(7)::before {
        content: "7th";
      }

      .favorite-top a:nth-child(8)::before {
        content: "8th";
      }

      .favorite-top a:nth-child(9)::before {
        content: "9th";
      }

      .favorite-top a:nth-child(10)::before {
        content: "10th";
      }
      */
      .favorite-game:hover .favorite-top a:nth-child(11),
      .favorite-movie:hover .favorite-top a:nth-child(11),
      .favorite-anime:hover .favorite-top a:nth-child(11),
      .favorite-drama:hover .favorite-top a:nth-child(11) {
        display: none;
        visibility: visible;
        opacity: 1;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }

      .favorite-top a:nth-child(11) {
        position: absolute;
        margin-left: 5px;
        visibility: hidden;
        opacity: 0;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
        -ms-transition:all 0.5s;
        transition:all 0.5s;
      }

      .favorite-top a:nth-child(11)::before {
        content: "Bonus";
      }

      .favorite-subtitle {
        color: white;
        position: absolute;
        text-align: center;
        width: calc(100% - 20px);
        padding: 10px;
        word-break: break-all;
        background-color: rgb(0 0 0 / 50%);
        bottom: 0;
        font-size: 12px;
        transform: translate(0, 100%);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .favorite-top a:hover .favorite-subtitle {
        background-color: rgb(0 0 0 / 50%);
        transform: translate(0, 0%);
      -webkit-transition:all 0.5s;
      -moz-transition:all 0.5s;
      -o-transition:all 0.5s;
      -ms-transition:all 0.5s;
      transition:all 0.5s;
    }