body {
  font-family: sans-serif;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	user-select: none;
}

#generate-btn {
  margin-top: 2rem;
}

#image-wrapper {
  height: 150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px white inset;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

h1 {
  cursor: pointer;
}

form label:nth-child(3) {
  display: none;
}

form {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

textarea::-webkit-scrollbar {
  display: none;
}